html {
    font-family: Roboto, sans-serif;
    color: white;
}

.header {
    font-size: 5vw;
}

.subheader {
    font-size: 3vw;
}

.text {
    font-size: 1.5vw;
}

p {
    /*font-size: 16px*/
}

#mask {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden
}

#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: .5s;

    /*-moz-property: top, bottom;*/
    /*-moz-duration: .5s;*/
    /*-ms-property: top, bottom;*/
    /*-ms-duration: .5s;*/
    /*-o-property: top, bottom;*/
    /*-o-duration: .5s;*/

    transition-property: top, bottom;
    transition-duration: .5s
}

section {
    height: 100vh;
    width: 100vw;
    position: relative
}

.content {
    /*margin: 0 auto;*/
    text-align: center;
    /*padding-top: 5%*/
}

nav ul {
    z-index: 1;
    list-style: none;
    position: fixed;
    right: 10px;
    top: 45%
}

nav ul li {
    background: white;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: solid black 1px;
}

.introduction {
    background: #273043;
    color: #0496ff
}

.aboutMe {
    background: #e8d2ae;
    color: #09814a;
    text-align: left
}

.skills {
    background: #e09891;
    color: #3e1929
}

.contact {
    background: #a5ffd6;
    /*color: #8f5c38*/
    color: #6d462b
}

.contact a {
    color: #6d462b;
    margin: 30px
}

.contactFORM {
    display: inline-block;
    text-align: -webkit-center;
    width: 60%;
}

#sendMail {
    width: 100px;
}

.textNode {
    font-size: 30px;
}


body {
    /*height: 100vh;*/
    align-items: center;
    display: flex;
}

.slide-effect {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-animated, .slideDown, .slideUp, .slideRight, .slideLeft, .slideDown_section_2_0, .slideDown_section_2_1, .slideDown_section_2_2 {
    position: relative;
    opacity: 0;
}

/*.text-animated {*/
/*    top: 40px;*/
/*    font-weight: bold;*/
/*    animation: slideUp ease .4s forwards;*/
/*}*/

.slideDown {
    top: -40px;
    left: 5px;
    animation: slideDown ease .4s forwards .6s;
}

.slideDown_section_2_0 {
    top: -40px;
    left: 5px;
    animation: slideDown ease .4s forwards .6s;
}

.slideDown_section_2_1 {
    top: -40px;
    left: 5px;
    animation: slideDown ease .4s forwards 1.2s;
}

.slideDown_section_2_2 {
    top: -40px;
    left: 5px;
    animation: slideDown ease .4s forwards 1.8s;
}

.slideUp {
    top: 40px;
    left: 10px;
    animation: slideUp ease .5s forwards 1.2s;
}

.slideRight {
    left: -80px;
    animation: slideRight ease .5s forwards 1.2s;
}

.slideLeft {
    left: 80px;
    animation: slideLeft ease .5s forwards 1.8s;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(80px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80px);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px);
        opacity: 1;
    }
}

/*@media only screen and (max-width: 600px) {*/
/*    .slide-effect, .text, .slideDown, .slideUp {*/
/*        font-size: 15px;*/
/*    }*/
/*}*/

.image {
    width: 20vw;
    align-content: center;
    margin: auto;
}