html {
    font-family: Roboto, sans-serif;
    color: white;
}

.header {
    font-size: 100px;
    margin-bottom: 50px
}

.subheader{
    font-size: 60px;
    margin-bottom: 40px
}

.text {
    font-size: 40px;
    margin-bottom: 30px
}

p {
    font-size: 16px
}

#mask {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden
}

#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: .5s;
    -moz-property: top, bottom;
    -moz-duration: .5s;
    -ms-property: top, bottom;
    -ms-duration: .5s;
    -o-property: top, bottom;
    -o-duration: .5s;
    transition-property: top, bottom;
    transition-duration: .5s
}

section {
    height: 100vh;
    width: 100vw;
    position: relative
}

.content {
    /*margin: 0 auto;*/
    text-align: center;
    padding-top: 150px
}

nav ul {
    z-index: 1;
    list-style: none;
    position: fixed;
    right: 10px;
    top: 45%
}

nav ul li {
    background: white;
    margin-bottom: 10px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: solid black 1px;
}

.introduction {
    /*background-image: linear-gradient(to right, #ffd89b, #19547b);*/
    background: #273043;
    color: #0496ff
}

.aboutMe {
    /*background-image: linear-gradient(#19547b, #808080);*/
    background: #e8d2ae;
    color: #09814a;
    text-align: left
}

.skills {
    /*background-image: linear-gradient(#808080, #3fada8);*/

    background: #e09891;
    color: #3e1929
}

.contact {
    /*background-image: linear-gradient(#3fada8, #FD746C);*/

    background: #a5ffd6;
    /*color: #8f5c38*/
    color: #6d462b
}
.contact a {
    color: #6d462b;
    margin: 30px
}

.contactFORM {
    display: inline-block;
    text-align: -webkit-center;
    width: 80%;
}

#sendMail {
    width: 100px;
}

.textNode {
    font-size: 100px;
}