@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

.pressStart2P {
    font-family: 'Press Start 2P', cursive;
    font-size: 5vmin;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.staatliches {
    font-family: 'Staatliches', cursive;
}

.encodeSans {
    font-family: 'Encode Sans', sans-serif;
}

html {
    color: white;
}

.header {
    font-size: 8vmin;
}

.subheader {
    font-size: 5vmin;
}

.text {
    font-size: 3vmin;
}

.text_strenghts {
    font-size: 2.5vmin;
}

#mask {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow: hidden
}

#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition-property: top, bottom;
    -webkit-transition-duration: .5s;
    -moz-property: top, bottom;
    -moz-duration: .5s;
    -ms-property: top, bottom;
    -ms-duration: .5s;
    -o-property: top, bottom;
    -o-duration: .5s;
    transition-property: top, bottom;
    transition-duration: .5s
}

section {
    height: 100vh;
    width: 100vw;
    position: relative
}

.content {
    text-align: center;
    padding-top: 5vh;
}

nav ul {
    z-index: 1;
    list-style: none;
    position: fixed;
    right: 10px;
    top: 45%
}

nav ul li {
    background: white;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: solid black 1px;
}

.introduction {
    background: #273043;
    color: #0496ff;
}

.aboutMe {
    background: #330152;
    color: #c9fbaa;
    text-align: left;
}

.skills {
    background: #3d3d3d;
    color: antiquewhite;
}

.contact {
    background: #00377f;
    color: #ff9e25;
}

.contact a {
    color: #ff9e25;
    margin: 30px;
}

.contactFORM {
    display: inline-block;
    text-align: -webkit-center;
    width: 60%;
}

#sendMail {
    width: 100px;
}

.textNode {
    font-size: 3vmin;
    text-align: center !important;
    display: flex;
    align-items: center !important;
}

body {
    align-items: center;
    display: flex;
}

.text-animated, .slideDown, .slideUp, .slideRight, .slideLeft, .slideDown_section_2_0, .slideDown_section_2_1,
.slideDown_section_2_2, .slideRight_section_1_0, .slideRight_section_1_1, .slideLeft_section_1_0, .slideLeft_section_1_1 {
    position: relative;
    opacity: 0;
}

.slideDown {
    top: -40px;
    left: 5px;
    animation: slideDown ease .4s forwards .6s;
}

.slideDown_section_2_0 {
    top: -40px;
    left: 5px;
    animation: slideDown ease .4s forwards .6s;
}

.slideDown_section_2_1 {
    top: -40px;
    left: 5px;
    animation: slideDown ease .4s forwards 1.2s;
}

.slideDown_section_2_2 {
    top: -40px;
    left: 5px;
    animation: slideDown ease .4s forwards 1.8s;
}

.slideUp {
    top: 40px;
    left: 10px;
    animation: slideUp ease .5s forwards 1.2s;
}

.slideRight_section_1_0 {
    left: -80px;
    animation: slideRight ease .5s forwards 1.2s;
}

.slideRight_section_1_1 {
    left: -80px;
    animation: slideRight ease .5s forwards 2.4s;
}

.slideLeft_section_1_0 {
    left: 80px;
    animation: slideLeft ease .5s forwards 1.8s;
}

.slideLeft_section_1_1 {
    left: 80px;
    animation: slideLeft ease .5s forwards 3s;
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(80px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-80px);
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px);
        opacity: 1;
    }
}

.image {
    width: 40vmin;
    padding-top: 5vmin;
    align-content: center;
    margin: auto;
}

.listOfStrengths {
    height: 70vh;
}

.listItem {
    font-size: 3vmin;
}

.skill_image {
    width: 20vmin;
    float: left;
}

.loading-bar {
    width: 50vw;
}

.strength_image {
    width: 8vmin;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open > .dropdown-toggle.btn-outline-primary {
    color: #00377f !important;
    background-color: #ff9e25 !important;
    border-color: #ff9e25 !important;
}

.btn-outline-primary {
    border-color: #ff9e25 !important;
    color: #ff9e25 !important;
}